/* Sponsor navigation */

.sponsor-navigation.right
  .sponsor-navigation-box
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "sponsor.png", size: "256x64"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "sponsor.png", size: "256x64"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "sponsor.png", size: "256x64"
