/* Index */

/
.container-top.left
.container-middle.left
  .content
    .content-box
      .content-item
        %h1 courses #{application_configuration["environment"]}
        .separator.small
        %p Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum.
  .separator.medium
  .courses
    .courses-box
      .courses-item
        .courses-right
          .figure{ style: "background-image: url(#{image_path "course_thumbnail.png"})" }
        .courses-left
          %h3 Dapibus Vulputate Commodo Etiam Magna
          .separator.small
          %p.small.left Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
          = link_to "Ver Mais", courses_path, class: "button extra-large"
      .courses-item
        .courses-right
          .figure{ style: "background-image: url(#{image_path "course_thumbnail.png"})" }
        .courses-left
          %h3 Dapibus Vulputate Commodo Etiam Magna
          .separator.small
          %p.small.left Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
          = link_to "Ver Mais", courses_path, class: "button extra-large"
      .courses-item
        .courses-right
          .figure{ style: "background-image: url(#{image_path "course_thumbnail.png"})" }
        .courses-left
          %h3 Dapibus Vulputate Commodo Etiam Magna
          .separator.small
          %p.small.left Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
          = link_to "Ver Mais", courses_path, class: "button extra-large"
      .courses-item
        .courses-right
          .figure{ style: "background-image: url(#{image_path "course_thumbnail.png"})" }
        .courses-left
          %h3 Dapibus Vulputate Commodo Etiam Magna
          .separator.small
          %p.small.left Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
          = link_to "Ver Mais", courses_path, class: "button extra-large"
.container-bottom.left
